@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#body{
    background-color: #7132FF;
    font-family: 'Work Sans', sans-serif;
}


#img-bg{
    
    width: 100%;
    height: 100%;
}

.form-group{
    color:aliceblue;
}

.form-control{
    color:aliceblue;
}

.btn {

    width: 350px;
    height: 43px;
    left: 906px;
    top: 523px;
    background-color: #04C35C;
    border-radius: 8px;
}

a{
    color: white;
    font-family: 'Work Sans', sans-serif;
}
